.registration {
    display: flex;
    justify-content: center;
}

.registration Label {
}

.reg-inputs {
    display: flex;
    flex-direction: column;
}

.reg-inputs div{
    border: none;
    width: 30%;
    align-self: center;
}

.reg-inputs Input {
    margin-left: -30%;
}

.reg-inputs button {
    height: 5vh;
}

footer {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 500px) {

}