.dashboard {
    display: flex;
    flex-direction: column;
}

.word-list li {
    list-style-type: none;
    margin-right: 4.3%;
}

.dashboard h2 {
    margin-top: 15px;
}

.stats {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.stats p {
    padding: 5px;
}

