.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard div {
  align-self: center;
}

.word-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 6%;
  align-self: center;
}

.word-list li {
  list-style-type: none;
}

@media all and (min-width: 500px) {
}
